/* variablen */
:root {
  --darkButNotDark: #0e0e0e;
  --WhiteButNotWhite: #f0f0f0;
  --ColorDarker: #151515;
  --ColorLighterThanDarker: #252525;
  --LighterGrey: #969696;
  --DarkerThanLighterGrey: #373737;
}
/* --- General css --- */
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  overflow: auto;
  overflow-x: hidden !important;
}

video::-webkit-media-controls {
  display: none !important;
}

video {
  width: 100%;
  aspect-ratio: 1/1;
}

body:not(.loaded) {
  overflow: hidden;
}

nav {
  background-color: #0e0e0e !important;
  height: 12vh;
  margin: 0;
  padding: 0 !important;
  align-items: start !important;
}

nav > .container-fluid {
  width: 90vw;
  margin: 0 auto;
}

.notWhite {
  color: #f0f0f0 !important;
}

/* --- Media querys --- */
/* Media query to hide the search bar on screens less than 995px wide */
@media (max-width: 995px) {
  #navCenter {
    display: none; /* Hide the search bar */
  }
}

/* --- Bootstrap Custom css --- */

ul > li > a {
  color: var(--WhiteButNotWhite) !important;
}

.bg-darker {
  background-color: var(--darkButNotDark) !important;
}

.border-darker {
  border-color: var(--ColorDarker) !important;
}

.bg-searchbarDark {
  background-color: var(--ColorLighterThanDarker) !important;
}
/* --- Verify css --- */
#verifyBody {
  background-image: url(../images/logo.svg);
  background-color: var(--darkButNotDark);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-size: 100vw;
  margin: 0 auto;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.glass-background {
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(5.5px);
}

#hero {
  width: 90vw;
  height: 75vh;
}

#verify {
  margin: 0;
  padding: 0;
  height: 60vh;
}

#verifyTitle {
  height: 5vh;
}

#verifyConainer {
  height: calc(100% - 5vh);
  margin: 0;
  padding: 0;
}

.verifyConainerTexts h3 {
  font-size: 2.65rem;
}

/* --- Specific css --- */

#content {
  opacity: 0;
  display: none;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s;
}

#brandLogo {
  height: 9vh;
}

#inlineFormInputGroupSearch::placeholder {
  color: var(--LighterGrey);
}

#inlineFormInputGroupSearch:focus {
  outline: none !important;
  box-shadow: none !important;
}

.custom-outline {
  border: 3px solid var(--DarkerThanLighterGrey); /* Change the outline style as desired */
  border-radius: 50rem; /* Add rounded corners */
}

#logoContainer {
  width: 18.5dvw;
  height: 12dvh;
}

#logoContainer a {
  width: 100%;
  height: 100%;
}

#navForm {
  width: 52dvw;
}
